<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="../static/CSS/Forget_password.css"> 
</head>
<body>

<div class="container">
    <div class="form-container">
        <h2>Forgot Password</h2>

        <!-- Forgot Password Form -->
        <form id="forgotPasswordForm" method="POST" action="/forgot-password" onsubmit="return validateForm(event)">
            <label for="email">Enter your registered email address:</label>
            <input type="email" id="email" name="email" required>
            <div class="error" id="emailError"></div>

            <button type="submit">Submit</button>

            <div class="login-link">
                <p>Click here to login? <a href="login">Login</a></p>
            </div>
        </form>
    </div>

    <div class="image-container">
        <img src="../static/Images/truck-8656658_1280.jpg" alt="Image">
    </div>
</div>

<script src="../static/Javascript/Forget_password.js"></script> 
</body>
</html>
