<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shipment Page</title>
    <link rel="stylesheet" href="../static/CSS/Myshipment.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <aside class="sidebar">
        <div class="sidebar-header">
            <img src="../static/Images/Exafluence.jpg" alt="logo" />
            <span style="color: white; padding-left: 25px; font-weight: bold;">Exafluence</span>
            
        </div>
        <ul class="sidebar-links">
            <h4>
                <span>Main Menu</span>
                <div class="menu-separator"></div>
            </h4>
            <li>
                <a href="#">
                    <span class="icon"><i class="fas fa-tachometer-alt"></i></span> 
                    <span class="text"> Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="fas fa-user"></i></span> 
                    <span class="text"> My Account</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="fas fa-box"></i></span> 
                    <span class="text"> My Shipment</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="fas fa-plus"></i></span> 
                    <span class="text"> New Shipment</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="fas fa-cog"></i></span> 
                    <span class="text"> Device Data</span>
                </a>
            </li>
            <li>
                <a href="login" class="logout">
                    <span class="icon"><i class="fas fa-sign-out-alt"></i></span> 
                    <span class="text"> Logout</span>
                </a>
            </li>
        </ul>
    </aside>

    <div class="content">
        <h2>Shipment Details</h2>
        <table>
            <thead>
                <tr>
                    <th>Shipment Number</th>
                    <th>Route Details</th>
                    <th>Device</th>
                    <th>Po Number</th>
                    <th>Ndc Number</th>
                    <th>Serial Number </th>
                    <th>Container Number</th>
                    <th>Goods Type</th>
                    <th>Delivery Date</th>
                    <th>Delivery Number</th>
                    <th>Batch Id</th>
                    <th>Shipment Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    
                </tr>
                
            </tbody>
        </table>
    </div>

    <script src="../static/Javascript/Myshipment.js"></script>
</body>
</html>
