<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="../static/CSS/Forget_password.css"> 
</head>
<body>

<div class="container">
    <div class="form-container">
        <h2>Reset Password</h2>

        <!-- Reset Password Form -->
        <form id="resetPasswordForm" method="POST" action="/reset-password" onsubmit="return validateForm(event)">
            
            <label for="newPassword">Enter New Password:</label>
            <input type="password" id="newPassword" name="newPassword" required>
            <div class="error" id="newPasswordError"></div>

            <label for="confirmPassword">Confirm New Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
            <div class="error" id="confirmPasswordError"></div>

            <button type="submit">Submit</button>

            <div class="login-link">
                <p>Remembered your password? <a href="Login.html">Login</a></p>
            </div>
        </form>
    </div>

    <div class="image-container">
        <img src="../static/Images/truck-8656658_1280.jpg" alt="Image">
    </div>
</div>

<script src="../static/Javascript/Forget_password.js"></script> 
</body>
</html>
