<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="stylesheet" href="../static/CSS/sign_up.css">
</head>
<body>
 
<div class="container">
    <div class="form-container">
        <h2>Signup</h2>
        
        <!-- Signup form -->
        <form id="signupForm" method="POST" action="/signup" onsubmit="return validateForm(event)">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <div class="error" id="usernameError"></div>

            <label for="email">Email ID:</label>
            <input type="email" id="email" name="email" required>
            <div class="error" id="emailError"></div>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <div class="error" id="passwordError"></div>

            <label for="confirm-password">Confirm Password:</label>
            <input type="password" id="confirm-password" name="confirm" required>
            <div class="error" id="confirmPasswordError"></div>

            <div style="display: flex; align-items: center; margin-bottom: 15px;">
                <input type="checkbox" id="terms" name="terms" required>
                <label for="terms">
                    By creating an account, you agree to our 
                    <a href="terms-and-conditions.html" target="_blank">Terms & Conditions</a>
                </label>
            </div>

            <!-- Submit button -->
            <button type="submit">Create Account</button>

            <div class="login-link">
                <p>Already have an account? <a href="login">Login</a></p>
            </div>
        </form>
    </div>
 
    <div class="image-container">
        <img src="../static/Images/truck-8656658_1280.jpg" alt="Image">
    </div>
</div>

<!-- <script src="../static/Javascript/sign_up.js"></script> -->

</body>
</html>
